<!-- sitewomen/users/templates/users/login.html -->
{% extends 'base.html' %}

{% block content %}
login🛠📥🌎
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div> {{ form.non_field_errors }} </div>
    {% for f in form %}
        <p style="color: darkgreen;">
            ⚠ {{ f.label }} ⚠ <br>
            {{ f }}
            <div> {{ f.errors }} </div>
        </p>
    {% endfor %}
    <p><button type="submit">🚀Го🚀</button></p>
</form>

{% endblock %}
