<!-- sitewomen/users/templates/users/login.html -->
{% extends 'base.html' %}

{% block content %}
login🛠📥🌎
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div> {{ form.non_field_errors }} </div>
    {% for f in form %}
        <p style="color: darkgreen;">
            ⚠ {{ f.label }} ⚠ <br>
            {{ f }}
            <div> {{ f.errors }} </div>
        </p>
    {% endfor %}
    <p><button type="submit">🚀Го🚀</button></p>
</form>

<h1>
    <a href="{% url 'users:password_reset' %}"> ⚠ Снова забыли пароль🗝❌❓💥 Ну и ладно🚀 </a>
</h1>

<hr>

<p>
    <a href="{% url 'social:begin' 'github' %}"><img src="/media/social-auth/github.png"></a>
    <a href="{% url 'social:begin' 'vk-oauth2' %}"><img src="/media/social-auth/vk.png"></a>
</p>

{% endblock %}
