{% extends 'base.html' %}
<!-- sitewomen/women/templates/women/about.html -->

{% block content %}
    <h1> {{ title|default:"без заголовка 🛠" }} </h1>

    {% for pagan in page_object.paginator.page_range %}
        {% if forloop.last %}
        <a href="?page={{ pagan }}"> 🗝[{{ pagan }}] </a>
        {% elif forloop.first %}
        🌎<a href="?page={{ pagan }}"> 🗝[{{ pagan }}] </a> ...
        {% else %}
        <a href="?page={{ pagan }}"> 🗝[{{ pagan }}] </a> ...
        {% endif %}
    {% endfor %}

    {% for item in page_object %}
    <p>
        📖{{ item.id }}: {{ item.title }}, {{ item.cat }}
    </p>
    {% endfor %}
{% endblock %}
