{% extends 'base.html' %}
<!-- sitewomen/women/templates/women/index.html -->

{% block content %}
<h1> {{ title|capfirst }}</h1>

<nav>
    <a href="#">Актрисы💥</a>  |
    <a href="#">Певицы🎆</a>  |
    <a href="#">Спортсменки👍</a>
</nav>

<ul>
    {% for p in posts %}
    {% if p.is_published == True %}
    <li>
        <h2> {{ p.title }} 🗝 </h2>
        <p> {{ p.content }} 📝 </p>
        <p><a href="{% url 'post' p.id %}"> Читать пост 📖 </a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>


{% endblock %}
