{% extends 'base.html' %}
<!-- sitewomen\women\templates\women\index.html -->

{% block content %}
<h1> {{ title|capfirst }}</h1>

{% include 'women/includes/nav.html' only with title2='what❓'%}

<ul>
    {% for p in posts %}
    <li>
        <h2> {{ p.title }} 🗝 </h2>
        <p> {{ p.content|linebreaks|truncatewords:30 }} 📝 </p>
        <p><a href="{{ p.get_absolute_url }}"> Читать пост 📖 </a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% include 'women/includes/nav.html' %}

{% endblock %}
