{% load static %}
{% load women_tags %}

<!DOCTYPE html>
<!-- sitewomen/templates/base.html -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title|default:"без заголовка 🛠" }} </title>
    <link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<a href="{% url 'admin:index' %}"> 💾 Неглавнаястраница 💾 </a>
<ul>
    <li><a href="{% url 'home' %}"> Главная страница 🏠</a></li>
    <br>
    {% for m in mainmenu %}
        <li>
        <a href="{% url m.url_name %}"> {{ m.title }} </a><br>
        </li><br>
    {% endfor %}

    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'users:profile' %}">{{ user.username }}🧠</a>
            | <a href="{% url 'users:logout' %}">Выйти❌</a>
        </li>
    {% else %}
        <li> <a href="{% url 'users:login' %}">Войти🗝</a> | <a href="{% url 'users:register' %}">Регистрация➕</a>
    {% endif %}
        </li>
</ul>
<hr>
{% if cat_selected == 0 %}
<h1>Все категории📊📝📖</h1>
{% else %}
<h1> <a href="{% url 'home' %}"> Все категории 📐📦📁 </a> </h1>
{% endif %}

{% show_categories cat_selected %}

<li>{% show_all_tags %}</li>

{% block navigation %}
{% endblock %}

{% block content %} {% endblock %}


</body>
</html>
